extends layout

block content
  h1= title
  p Playing #{file}
  button(type='button' class='stop') Stop
  br
  button(type='button' class='pause') Pause

  script.
    var stop = function () {
      window.location.href = '/stop';
    };

    $('.stop').click(function (e) {
      stop();
    });
    $('.pause').click(function (e) {
      $.ajax('/pause');
    });

    setInterval(function () {
      $.get(
              '/state',
              {},
              function (data) {
                console.log(data);
                if (!data.is_running) {
                  stop();
                }
              }
      )
    }, 10000);